#listing_table input.text_filter{ 
  display: inline-block !important;
  width: 100% !important;
  height: 34px !important;
  margin-bottom: 9px !important;
  border: 1px solid #ebebeb !important;
  font-size: 1.3rem !important;
  line-height: normal !important;
  color: #555 !important;
  background-color: #fff !important;
  border-radius: 3px !important;
  box-shadow: none !important;
  padding: 6px 12px !important;}